@import url(styles/header.css);

:root{
    --cor-de-fundo:
  #f00d0d;
    --cor-cabecalho: #4017b1;
}

body{
    background-color: var(--cor-de-fundo);
    margin: 0;
}
h1{
    font-weight: normal;
}